<!-- MOBILE FOOTER BEGIN -->
<footer class="fixed bottom-0 left-0 z-50 w-full bg-[--color-kapp] text-white text-center text-xs py-4 block md:hidden">
    <div class="flex justify-between items-center ml-8 mr-8">
        <button type="button" onclick="window.location='home.html'" class="">
            <img class="h-8 w-8 mr-4 fgWhiteSvg" src="icons/baseline-dashboard.svg" alt="dashboard">
        </button>
        <button type="button" onclick="window.location='new_resa_step_1.html'" class="">
            <img class="h-8 w-8 mr-4 fgWhiteSvg" src="icons/baseline-room_service.svg" alt="Reservation">
        </button>
        <button type="button" onclick="window.location='my_reservations.html'" class="">
            <img class="h-8 w-8 mr-4 fgWhiteSvg" src="icons/contract.svg" alt="Contract">
        </button>
        <button id="promo" type="button" class="">
            <img class="h-8 w-8 mr-4 fgWhiteSvg" src="icons/baseline-card_giftcard.svg" alt="Promo">
        </button>
        <button type="button" onclick="window.location='my_pets.html'" class="">
            <img class="h-8 w-8 mr-4 fgWhiteSvg" src="icons/baseline-pets.svg" alt="Pet">
        </button>
        <button type="button" onclick="window.location='my_profile.html'" class="">
            <img class="h-8 w-8 mr-4 fgWhiteSvg" src="icons/baseline-person.svg" alt="Profile">
        </button>
    </div>
</footer>
<!-- MOBILE FOOTER END -->