<!-- PROMO CARD BEGIN -->
<div class="border rounded-lg m-4 p-4 text-center">
    <h4 class="font-bold mb-4">Promotion des vacances</h4>
    <div class="flex items-center mb-2">
        <img class="w-6 h-6 fgSoftSvg mr-4" src="icons/credits.svg" alt="Coins">
        <p>5.00 € sur le séjour</p>
    </div>
    <div class="flex items-center mb-2">
        <img class="w-6 h-6 fgSoftSvg mr-4" src="icons/baseline-calendar_today.svg" alt="Calendar">
        <p>Réservez avant le 15/02/2024</p>
    </div>
    <div class="flex items-center">
        <img class="w-6 h-6 fgSoftSvg mr-4" src="icons/notes-icon.svg" alt="Notes">
        <p>Ne manquez pas cette offre pour votre été</p>
    </div>
</div>
<!-- PROMO CARD END -->