<!-- RESA CARD BEGIN -->
<div>
  <button class="border rounded-lg m-2 p-4 text-center">
    <h4 class="text-left font-bold mb-4">Réservation n°422</h4>
    <div class="flex items-center text-left mb-2 text-[--color-fgSelected]">
      <img class="w-6 h-6 mr-4 fgSelectedSvg" src="icons/temporary.svg" alt="Hourglass">
      <p>En attente de validation par la pension</p>
    </div>
    <div class="flex items-center text-left mb-2">
      <img class="w-6 h-6 fgSoftSvg mr-4" src="icons/round-smartphone.svg" alt="Smartphone">
      <p>Prise sur myKookie</p>
    </div>
    <div class="flex items-center text-left mb-2">
      <img class="w-6 h-6 fgSoftSvg mr-4" src="icons/baseline-calendar_today.svg" alt="calendar">
      <p>du 22/02/2024 au 23/02/2024</p>
    </div>
    <div class="flex items-center text-left mb-2">
      <img class="w-6 h-6 fgSoftSvg mr-4 " src="icons/baseline-pets.svg" alt="Pet">
      <p>Rebel</p>
    </div>
    <div class="items-center mb-2 flex flex-row">
      <img class="w-6 h-6 fgSoftSvg mr-4" src="icons/credits.svg" alt="Coins">
      <span class="text-left">
              <p class="mr-4">38.00 €</p>
              <p class="text-[--color-fgDanger]">(dont 30.00 € restant dû)</p>
            </span>
    </div>
  </button>
</div>
<!-- RESA CARD END -->