<!-- RESA CARD BEGIN -->
<button class="border rounded-lg m-4 p-4 text-center">
  <h4 class="font-bold mb-4">Réservation n°422</h4>
  <div class="flex items-center mb-2">
    <img class="w-6 h-6 fgSoftSvg mr-4" src="icons/temporary.svg" alt="Hourglass">
    <p>En attente de validation par la pension</p>
  </div>
  <div class="flex items-center mb-2">
    <img class="w-6 h-6 fgSoftSvg mr-4" src="icons/round-smartphone.svg" alt="Smartphone">
    <p>Prise sur myKookie</p>
  </div>
  <div class="flex items-center">
    <img class="w-6 h-6 fgSoftSvg mr-4" src="icons/baseline-calendar_today.svg" alt="calendar">
    <p>du 22/02/2024 au 23/02/2024</p>
  </div>
  <div class="flex items-center">
    <img class="w-6 h-6 fgSoftSvg mr-4" src="icons/baseline-pets.svg" alt="Pet">
    <p>Rebel</p>
  </div>
  <div class="flex items-center">
    <img class="w-6 h-6 fgSoftSvg mr-4" src="icons/credits.svg" alt="Coins">
    <p>38.00 € (dont 30.00 € restant dû)</p>
  </div>
</button>
<!-- RESA CARD BEGIN -->