<div class="flex flex-row justify-center items-center m-4">
    <img class="w-6 h-6 mr-2 fgSoftSvg" src="icons/crown.svg">
    <h1 class="text-normal sm:text-lg text-center text-[--color-fgSoft] whitespace-nowrap">Demander un logement privatif</h1>
    <label for="toggle" class="flex flex-row items-center cursor-pointer select-none ml-2">
        <div class="relative">
            <input type="checkbox" id="toggle" class="peer sr-only"/>
            <div class="block h-8 w-14 rounded-full bg-gray-200 peer-checked:bg-[--color-kapp]"></div>
            <div class="absolute flex items-center justify-center w-5 h-6 transition bg-white rounded-full dot left-1 top-1 peer-checked:translate-x-7"></div>
        </div>
    </label>
</div>