* {
    font-family: 'Ubuntu', sans-serif;
    --color-kapp:        #0899b1;
    --color-primary:     #ffffff;
    --color-bgSecondary: #fafafa;
    --color-bgHighlight: #ffccbc;
    --color-bgClickable: #fd5e0f;
    --color-Gradient1:   #ffdb8f;
    --color-bgGradient2: #fa5f6e;
    --color-bgDanger:    #d40000;
    --color-bgSuccess:   #5b993e;
    --color-bgWarning:   #f3b000;
    --color-fgText:      #000000;
    --color-fgSoft:      #616161;
    --color-fgBorder:    #e4e4e4;
    --color-fgNormal:    #b9b9b9;
    --color-fgSelected:  #fd5e0f;
    --color-fgDanger:    #b40000;
    --color-fgSuccess:   #2e710c;
}

.fill-white {
    fill: white;
}

/* TO CONVERT COLORS FOR SVG https://codepen.io/sosuke/pen/Pjoqqp */
.fgSoftSvg {
    filter: invert(40%) sepia(3%) saturate(13%) hue-rotate(24deg) brightness(90%) contrast(86%);
}

.fgWhiteSvg {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(197deg) brightness(105%) contrast(101%);
}

.fgBlackSvg {
    filter: invert(0%) sepia(0%) saturate(3924%) hue-rotate(231deg) brightness(96%) contrast(101%);
}

.fgDangerSvg {
    filter: invert(10%) sepia(66%) saturate(5895%) hue-rotate(356deg) brightness(104%) contrast(115%);
}

.fgSucessSvg {
    filter: invert(27%) sepia(54%) saturate(3385%) hue-rotate(75deg) brightness(85%) contrast(91%);
}

.fgSelectedSvg {
    filter: invert(52%) sepia(92%) saturate(3419%) hue-rotate(350deg) brightness(96%) contrast(107%);
}